.inspectors {
    color: #fff;
    margin-bottom: -5px;
}
.inspectors svg {
    fill: #fff;
}
.inspectors .wrapper {
    position: relative;
}
.inspectors .content {
    position: absolute;
    bottom: 100%;
    left: 0;
    padding-bottom: 100px;
    max-width: 600px;
}
.inspectors .content .bottom {
    margin-top: 100px;
}

@media screen and (max-width: 1600px) {
    .inspectors .font45 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .inspectors .content .bottom {
        margin-top: 60px;
    }
}
@media screen and (max-width: 1300px) {
    .inspectors {
        color: #044168;
    }
    .inspectors svg {
        fill: #044168;
    }
    .inspectors .content {
        position: relative;
        bottom: auto;
        left: auto;
        padding: 40px 0;
        padding-bottom: 100px;
        max-width: none;
    }
}
